body{background-color:#2F2F2F;color:#E9E9E9;font-family:Arial,sans-serif;margin-left:10%;margin-right:10%;}
a{font-weight:bold;color:#E9E9E9;text-decoration:underline;}
div.logo{font-size:125%;text-transform:uppercase;text-align:center;margin-top:1.5%;margin-bottom:3%;}
